.boxs {
  background-color: azure;
  width: 360px;
  height: 300px;
  color: black;
  font-size: 20px;
  border-radius: 6px;
}

 div input {
    margin-top: 20px;
    margin-left: 6px;
    width: 270px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    border-color: aqua;

} 
div button {
    margin-top: 20px;
    margin-left: 20px;
    width: 270px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    background-color: red;
    color: white;

}   
div p{
   
    font-size: 15px;
    text-align: center;
}
div h1{
   margin-left: 450px;
    color: red;
    font-size: 30px;
    margin-bottom: 20px;
}
body{
    background-color: lab(2.86% 0.55 0.19);
    color: hsl(0, 20%, 97%);
}
.se{
    margin-left: 20px;
    color: #ea0808c9;
}